*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'TT Lakes';
    src: url('TTLakes-Regular.eot');
    src: local('TT Lakes Regular'), local('TTLakes-Regular'),
        url('TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
        url('TTLakes-Regular.woff') format('woff'),
        url('TTLakes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TT Lakes';
    src: url('TTLakes-Bold.eot');
    src: local('TT Lakes Bold'), local('TTLakes-Bold'),
        url('TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
        url('TTLakes-Bold.woff') format('woff'),
        url('TTLakes-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'TT Lakes';
    src: url('TTLakes-Medium.eot');
    src: local('TT Lakes Medium'), local('TTLakes-Medium'),
        url('TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
        url('TTLakes-Medium.woff') format('woff'),
        url('TTLakes-Medium.ttf') format('truetype');
    font-weight: medium;
    font-style: normal;
}
.modal-burger{
 width: 320px;
 box-shadow: 16px 0 52px rgba(14, 24, 80, 0.2);
 height: 100%;

}
.header__modal-burger{
    padding: 24px;
    position: absolute;
    left: 0;
}
.modal-body__modal-header{
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    margin-left: 16px;
    min-height: 40px;
    min-width: 40px;
    border: 1px solid #FF3E79;
    background: #FF3E79 no-repeat center;
    border-radius: 50%;
}
.btn:hover{
    opacity: 0.5;
}
.logo_position{
    margin-left: 16px;
    margin-right: auto;
}
.logo{
    min-width: 96.55px;
    height: 50.81px;
    background-image: url(image/Logo.png);
    background-position: center;
    background-repeat: no-repeat;
}
.btn_modalSearch{
    background-image: url(image/sidebar_search.svg);
    margin-left: auto;
}
.btn_cross{
    background-image: url(image/cross.svg);
    margin-left: 0;

}
a{
    text-decoration: none;
    color: #1B1C21;
}
.modal-burger__modal-navigation{
    padding-top: 34px;
}
.modal-emptyDiv{
    width: 4px;
    height: 32px;
    background-color: #41F6D7;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    position: absolute;
    left: 0;
    top: 118px;
}
.modal-burger__modal-button-link{
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}
.modal-burger__link{
   padding-bottom: 32px;
   font-size: 16px;
   font-family: 'TT Lakes', sans-serif;
   font-style: medium;
}
.modal-burger__link.actived{
    color: #7E7E82;
}
.btn_support{
    background-image: url(image/support.svg);
    margin-left: auto;

}
.btn_message{
    background-image: url(image/Message.svg);

}
.btn_profile{
    background-image: url(image/Profile.svg);

}
.modal-burger__modal-footer{
    position: absolute;
    bottom: 24px;
}
.modal-burger__button{
    padding-bottom: 16px;
}
.modal-burger__email{
    padding-bottom: 12px;
    font-family: 'TT Lakes', sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
}
.modal-burger__phone{
    padding-bottom: 40px;
    font-family: 'TT Lakes', sans-serif;
    font-weight: bold;
    line-height: 32px;
    font-size: 24px;
}
input[type="radio"]{
    display: none;
}
#rus:checked ~ label[for="rus"]{
    color: #7E7E82;
}
#eng:checked ~ label[for="eng"]{
    color: #7E7E82;
}
#chi:checked ~ label[for="chi"]{
    color: #7E7E82;
}
label{
    font-family: 'TT Lakes', sans-serif;
    padding-left: 7px;
    line-height: 24px;
    letter-spacing: -0.2px;
}
label[for="rus"]{
    padding-left: 0;
}